@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    flex-grow: 1;
    background-color: rgb(242, 243, 241);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 750px;
    min-width: 750px;
    flex: 1 1 auto;
}

.left-section {
    display: flex;
    width: 450px;
    min-width: 0px;
    /* There is probably better way to do it. 
    I want the right-section to start growing only when the left-section has reached it's max-width*/
    flex: 100000 1 auto;
    max-width: 700px;
}

.header-section {
    font-family: Impact;
    font-weight: 600;
    margin: 225px 0 0 0;
    width: inherit;
    font-size: 1.5rem;
    padding: 0 40px 0 40px;

}

.header-section > p + p {
    margin: 40px 0 80px 0;
}

.form-section {
    padding: 40px 0 20px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(158, 156, 156) 0 0 10px 0;
    
}

form {
    width: 800px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-section > p {
    font-family: Impact;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 0 25px 40px;
}

.form-field label {
    display: block;
}

.form-field input {
    width: 250px;
    height: 25px;
    font-size: 15px;
    border: 1px #E5E7EB solid;
    border-radius: 3px;
    padding-left: 10px;
}

.form-field {
    width: 325px;
    padding-bottom: 20px;
    font-family: Impact;
}

input[type="password"]:user-invalid {
    border-color: red;
}

.form-field input:focus {
    border-color: rgb(79, 145, 206);
    outline: none;
}

.background-div {
    width: inherit;
    flex: 1 1 auto;
    height: inherit;
    overflow: hidden;
    position: relative;
}

.odin-logo-div {
    position: absolute;
    width: 100%;
    color: white;
    top: 307px;
    text-align: center;
    font-size: 1.2rem;
    font-family: roboto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.odin-logo-bg {
    position: absolute;
    width: 100%;
    top: 307px;
    height: 150px;
    background-color: black;
    opacity: 0.4;
}


.odin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Norse;
    font-size: 100px;
}


.background-img {
    width: 800px;
}

.odin-img {
    width: 100px;
}

.pic-credit-text {
    position: absolute;
    top: 1160px;
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0.8;
}

button {
    margin: 40px;
    padding: 15px 40px;
    background-color: #596D48;
    color: white;
    font-family: Roboto;
    box-shadow: #596D48 3px 3px 3px 0;
    border-radius: 8px;
    font-size: 14px;
}

.bottom-section p {
    font-family: sans-serif;
    padding-left: 40px;
    font-size: 14px;
}

a {
    color: #596D48;
    text-decoration: none;
}
